__pycache__/*
*/__pycache__/*
./*/*/__pycache__/*
*/*/__pycache__/*

# resources/*
# results/*
*.pyc
*.db
*.json
data/homework.db
results/*.json
test_gemini2.py
testgemini3.py
testgemini3for302.py
testgemini4.py
testgemini5.py
data/homework.db
testgemini3.py
